<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'detailDemande','détails de la demande')}">
<meta charset="utf-8">

<body>
     <div class="container shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 50px;">
        <h5 class="pb-2 border-bottom mb-4 ">Demande n° : <span style="font-weight: bold; color:#c24210" th:text="${demande.reference}"></span></h5>
        <div class="container">
            <div class="row g-5">
                <div class="col-md-12 col-lg-12">
                <form th:action="@{/usc/modifierDemande}" method="post" th:object="${demande}">
	               <div class="table-responsive">
	                   <table id="user" class="table table-sm">
	                   	<tbody style="font-weight: bold">
	                   		<tr>                    			
	                   			<td style="width: 10%">Date de sousmission</td>
	                   			<td style="width: 30%; color:#c24210;"><input class="form-control uppercase" th:value="${demande.dateCreation}"></input></td>
	                   			<td style="width: 10%">Statut</td>
	                   			<td style="width: 30%; color:#c24210;" th:classappend="${demande.statut}"><input class="form-control uppercase" th:value="${demande.statut}"></input></td>
	                   		</tr>
	                   		<tr>                    			
	                   			<td>Date rendez-vous</td>
	                   			<td style="color:#c24210"><input class="form-control uppercase" th:value="${demande.dateRendezVous}"></input></td>
	                   			<td>Tranche horaire</td>
	                   			<td style="color:#c24210"><input class="form-control uppercase" th:value="${demande.trancheHoraire.libelleHeureDebut}+' - '+${demande.trancheHoraire.libelleHeureFin}"></input></td>
	                   		</tr>
	                   		<tr>                    			
	                   			<td>Direction</td>
	                   			<td style="color:#c24210"><input class="form-control uppercase" th:value="${demande.direction.libelleDirection}"></input></td>                   			
	                   		</tr>
	                   	</tbody>
	                   </table>
	                  </div>
	                  <div class="form-footer">
							<input id="btnActiver" type="button" class="btn btn-primary" value="Activer" />
							<input id="btnModifier" type="submit" class="btn btn-success" value="Modifier" />
						</div>
	                </form>
	             </div>
            </div>
        </div>
    </div>
</body>

</html>