<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragments/layout :: layout (~{::body},'mesDemandes','mes demandes de rendez-vous')}">
<meta charset="utf-8">

<body>
    <div class="container shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 50px;">
        <h5 class="pb-2 border-bottom mb-2">Vos demandes de rendez-vous</h5>
        <div class="container">
            <div class="row g-5">
                <div class="col-md-12 col-lg-12">
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th width="10%">Réference</th>
                                <th width="15%">Date Soumission</th>
                                <th width="30%">Direction demande</th>
                                <th width="15%">Date Rendez-vous</th>
                                <th width="15%">Tranche horaire</th>
                                <th width="10%">Statut</th>
                                <th width="10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="demande : ${demandes}">
                                <td style="font-weight: bold; color:#c24210"><span th:text="${demande.reference}"></span></td>
                                <td><span th:text="${demande.dateCreation}"></span></td>
                                <td><span th:text="${demande.direction.libelleDirection}"></span></td>
                                <td><span th:text="${demande.dateRendezVous}"></span></td>
                                <td><span th:text="${demande.trancheHoraire.libelleHeureDebut}+' - '+${demande.trancheHoraire.libelleHeureFin}"></span></td>
                                <td th:classappend="${demande.statut}"><span th:text="${demande.statut}"></span>
                                </td>
                                <td><a class="btn btn-warning"
                                        th:href="@{'/usc/detailDemande/'+${demande.Id}}">Details</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>