<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'monEspace','Espace Usager-Client')}">
<meta charset="utf-8">

<body>
     <div class="container shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 50px;">
        <h5 class="pb-2 border-bottom mb-2">Bienvenue sur votre espace usager-client</h5>
        <div class="container">
            <div class="row g-5">
                <div class="col-md-12 col-lg-12">
                   
                </div>
            </div>
        </div>
    </div>
</body>
</html>