<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'nouvelleDemande','Nouvelle demande de rendez-vous')}">
<meta charset="utf-8">

<body>
    <div class="page-body">
        <div class="container-xl d-flex flex-column justify-content-center">
            <div class="row row-cards">
                <div class="col-12">
                    <form th:action="@{/usc/soumettreMaDemande}" method="post" th:object="${demande}" class="card">
                        <div class="card-header">
                            <h4 class="card-title">Informations demande</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="directions" class="form-label required">Direction</label>
                                        <select id="directions" class="form-control" th:field="*{direction.id}" required>
                                            <option value=''>Selectionner la direction ...</option>
                                            <option th:each="ob:${directions}" th:value="${ob[0]}" th:text="${ob[1]}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label for="dateRdv required" class="form-label required">Date</label>
                                        <div class="datepicker date input-group shadow-sm">
                                            <input type="text" placeholder="Choisir une date" class="input-date-picker form-control" id="dateRdv" th:field="*{dateRendezVous}" autocomplete="off" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <div class="form-label required">Tranche horaire</div>
                                        <select id="tranches" class="form-control" th:field="*{trancheHoraire.id}" required>
                                            <option value=''>Selectionner la tranche ..</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3">
                                    <label class="form-label">Motif</label>
                                    <textarea class="form-control" data-bs-toggle="autosize" id="motif" th:field="*{motif}"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Soumettre</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>