<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'accueil','Accueil Administrteur')}">
<meta charset="utf-8">

<body>
	<div class="container-xl">
         <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <div class="conteneur">
                     <div class="row">
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h6>Gestion des rendez-vous |  Tableau de bord</h6>
                         </div>
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                           <h6 class="float-end">Date</h6>
                         </div>
                     </div>
                 </div>
                  <div class="conteneur">
                     <div class="row">
                     	STATS
                     </div>
                 </div>
             </div>
         </div>
     </div>
</body>
</html>