<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'listeUtilisateur','Listes des utilisateurs')}">
<meta charset="utf-8">

<body>
	<div class="container shadow-lg p-3 mb-5 bg-white rounded">	
		<h5 class="pb-2 border-bottom mb-4">Usager-Client n° : <span style="font-weight: bold; color:#c24210" th:text="${demande.utilisateur.id}"></span></h5>
		<div class="container">
			<div class="row g-5">
 				
            </div>
        </div>
    </div>  
</body>
</html>