<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'listeUtilisateur','Listes des utilisateurs')}">
<meta charset="utf-8">

<body>
    <div class="container shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-12 col-lg-12">
                    <h6 class="pb-2 border-bottom mb-2">Usager-Client n° : <span class="style-detail" th:text="${demande.utilisateur.id}"></span></h6>
                    <form id="form1" th:action="@{/admin/modifierDemande}" method="post" th:object="${demande}">
                    	<input type="hidden" th:field="*{id}">
                   		<input type="hidden" th:field="*{reference}">
                   		<input type="hidden" th:field="*{dateCreation}">
                   		<input type="hidden" th:field="*{utilisateur.id}">
                        <div class="table-responsive">
                            <table class="table table-sm w-auto">
                                <tbody style="font-weight: bold">
                                    <tr>
                                        <td>Nom</td>
                                        <td><span class="style-detail uppercase" th:text="${demande.utilisateur.nom}"></span></td>
                                        <td>Prénom</td>
                                        <td><span class="style-detail uppercase" th:text="${demande.utilisateur.prenom}"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><span class="style-detail" th:text="${demande.utilisateur.email}"></span>
                                        </td>
                                        <td>Téléphone</td>
                                        <td><span class="style-detail" th:text="${demande.utilisateur.telephone}"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <h6 class="pb-2 border-bottom mb-2">Demande n° : <span class="style-detail" th:text="${demande.reference}"></span>
                            	du <span class="style-detail" th:text="${demande.dateCreation}"></span></h6>
                            <table class="table table-sm">
                                <tbody style="font-weight: bold">                       
                                    <tr>
                                        <td>Statut</td>
                                        <td><select class="form-select" id="genre" th:field="*{statut}" required>
												<option th:each="statut : ${statuts}"
														th:value="${statut}" th:text="${statut}">
												</option>
											</select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Direction</td>
                                        <td style="color:#c24210" class="col-6">
                                            <select id="directions" class="form-select" th:field="*{direction.id}" required>
												<option value=''>Selectionner la direction ...</option>
												<option th:each="ob:${directions}" th:value="${ob[0]}"
													th:text="${ob[1]}" />
											</select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Date rendez-vous</td>
                                        <td><input type="text" placeholder="Choisir une date" class="form-control" id="dateRdv" th:field="*{dateRendezVous}" autocomplete="off" required>
                                        </td>
                                        <td>Tranche horaire</td>
                                        <td>
                                            <select id="tranches" class="form-control" th:field="*{trancheHoraire.id}">
												<option th:value="${demande.trancheHoraire.id}"
													th:text="${demande.trancheHoraire.libelleHeureDebut}+' - '+${demande.trancheHoraire.libelleHeureFin}">
												</option>
											</select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="motif" class="form-label"><b>Motif</b></label>
                                <textarea class="form-control" data-bs-toggle="autosize" id="motif" readonly="readonly" th:field="*{motif}"></textarea>
                            </div>
                        </div>
                        <div class="form-footer">
                            <input id="btnActiver" type="button" class="btn btn-primary" value="Activer" />
                            <input id="btnReset" type="reset" class="btn btn-danger" value="Annuler" />
                            <input id="btnModifier" type="submit" class="btn btn-success" value="Modifier" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $("#dateRdv").on("change", function() {
        var date = $(this).val();
        var directionId = $("#directions").val();
        var s = '<option value="${demande.trancheHoraire.id}" th:text="${demande.trancheHoraire.libelleHeureDebut}+' - '+${demande.trancheHoraire.libelleHeureFin}">Selectionner la tranche ...</option>';
        if (directionId > 0) {
            $.ajax({
                url: 'listeTranche',
                data: {
                    "directionId": directionId,
                    "date": date
                },
                success: function(result) {
                    var result = JSON.parse(result);
                    for (var i = 0; i < result.length; i++) {
                        s += '<option value="' + result[i][0] + '">' + result[i][1] + '  -  ' + result[i][2] + '</option>';
                    }
                    $('#tranches').html(s);
                }
            });
        }
    });
    $(document).ready(function () {
		$("#form1 :input").prop("disabled", true);
		$("#btnActiver").attr('disabled', false);
		$("#btnModifier").hide();
		$("#btnReset").hide();
	});
	$("#btnActiver").click(function () {
		$("#form1 :input").prop("disabled", false);
		$("#btnActiver").hide();
		$("#btnModifier").show();
		$("#btnReset").show();
	});
    </script>
</body>
</html>