<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'listeDemande','Listes des des demandes')}">
<meta charset="utf-8">

<body>
	<div class="container shadow-lg p-3 mb-5 bg-white rounded">	
		<h5 class="pb-2 border-bottom mb-2">Informations personnelles</h5>
		<div class="container">
			<div class="row g-5">
 				<div class="col-md-12 col-lg-12">              
                    <table id="table" data-toggle="table" data-toolbar="#toolbar" data-search="true" data-resizable="true">
                        <thead>
                            <tr>
                                <th>Réference</th>
                                <th>Usager-client</th>
                                <th>Date</th>
                                <th>Tranche</th>
                                <th>Direction</th>
                                <th>Statut</th>
                                <th ></th>
                            </tr>
                        </thead>
                        <tbody class="uppercase">
                            <tr th:each="utilisateur : ${utilisateurs}">
                                <td><span th:text="${utilisateur.matricule}"></span></td>
                                <td><span th:text="${utilisateur.nom}"></span></td>
                                <td><span th:text="${utilisateur.prenom}"></span></td>
                                <td><span th:text="${utilisateur.genre}"></span></td>
                                <td></td>
                                <td><span th:text="${utilisateur.roles}"></span></td>
                                <td class="g-1">
                                	<button data-toggle="tooltip" title="Modifier" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                    <button data-toggle="tooltip" title="Supprimer" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>                           
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#table').DataTable({              
                language: {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },             
            });
        });
    </script>
</body>

</html>