<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'listeUtilisateur','Listes des utilisateurs')}">
<meta charset="utf-8">
<body class="antialiased">
        <div class="page-wrapper">
        	<div class="container-fluid">
        	<div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">               
                <h2 class="page-title">
                  Utilisateurs
                </h2>
                 <div class="page-pretitle">
                  Nombre Utilisateurs
                </div>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">            
                  <a th:href="@{/admin/nouvelUtilisateur}" class="btn btn-primary d-none d-sm-inline-block">                  
                    Nouvel Utilisateur
                  </a>             
                </div>
              </div>
            </div>
          </div>       	
        	</div>       	
            <div class="page-body">
                <div class="container-fluid">
                	<div class="card">           						  
          				<div class="card-body">
          					<div class="table-responsive">
          						<table class="styled-table" id="tableUtilisateur" >
          							 <thead>
          							 	<tr>
          							 		<td width="10%">Matricule</td>
          							 		<td width="20%">Nom</td>
          							 		<td width="30%">Prénom</td>
          							 		<td width="10%">Genre </td>
          							 		<td width="20%">Direction</td> 
          							 		<td width="10%"></td>       							 		
          							 	</tr>
          							 </thead>
          							 <tbody>
										<tr th:each="utilisateur : ${utilisateurs}">
											<td><span th:text="${utilisateur.matricule}"></span></td>
											<td><span th:text="${utilisateur.nom}"></span></td>
											<td><span th:text="${utilisateur.prenom}"></span></td>
											<td><span th:text="${utilisateur.genre}"></span></td>
											<td></td>
											<td>
												<a class="btn btn-info">Update</a>												
											</td>
										</tr>
									</tbody>
          						</table>
          					</div>
          				</div>
                	</div>
                </div>
            </div>
        </div>
  	<script>
	  	$(document).ready(function() {
	  	    $('#tableUtilisateur').DataTable( {
	  	        "language": {
	  	            "lengthMenu": "Affichage _MENU_ utilisateurs",
	  	            "zeroRecords": "Aucun enregistrement",
	  	            "info": "page _PAGE_ / _PAGES_",
	  	            "infoEmpty": "Aucun enregistrement",
	  	            "infoFiltered": "(tri de _MAX_ total)",
	  	            "sSearch": "Recherche :",
	  	            "oPaginate" :{
	  	            	"sPrevious": "Précedent",
	  	            	"sNext": "Suivant"
	  	            } 
	  	        }
	  	    } );
	  	} );
	</script>
</body>
</html>