<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'listeUtilisateur','Listes des utilisateurs')}">
<meta charset="utf-8">

<body>
    <div class="container-xl d-flex flex-column justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title text-center">LISTE DES UTILISATEURS</div>
                </div>
                <div class="card-body table-responsive">                
                    <table id="tableUtilisateur" data-toggle="table" data-toolbar="#toolbar" data-search="true" data-resizable="true">
                        <thead>
                            <tr>
                                <th width="20%">Matricule</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Genre</th>
                                <th>Direction</th>
                                <th>Profil</th>
                                <th width="10%"></th>
                            </tr>
                        </thead>
                        <tbody class="uppercase">
                            <tr th:each="utilisateur : ${utilisateurs}">
                                <td><span th:text="${utilisateur.matricule}"></span></td>
                                <td><span th:text="${utilisateur.nom}"></span></td>
                                <td><span th:text="${utilisateur.prenom}"></span></td>
                                <td><span th:text="${utilisateur.genre}"></span></td>
                                <td></td>
                                <td><span th:text="${utilisateur.roles}"></span></td>
                                <td class="g-1">
                                	<button data-toggle="tooltip" title="Modifier" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                    <button data-toggle="tooltip" title="Supprimer" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>                           
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#tableUtilisateur').DataTable({              
                language: {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                "lengthChange": false,
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: 'Utilisateur',
                        action: function ( e, dt, node, config ) {
                        	location.href = "/admin/nouvelUtilisateur";
                        }
                    }
                ]
            });
        });
    </script>
</body>

</html>