<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'listeDemande','Listes des des demandes')}">
<meta charset="utf-8">

<body>
	<div class="container shadow-lg p-3 mb-5 bg-white rounded">	
		<div class="container">
			<div class="row g-5">
 				<div class="col-md-12 col-lg-12">
 					<h5 class="pb-2 border-bottom mb-2">Demandes</h5>              
                    <table id="table" class="table row-border">
                        <thead class="bg-light">
                            <tr>
                                <th>Identifiant</th>
                                <th>Usager-client</th>
                                <th>Date</th>
                                <th>Tranche</th>
                                <th>Direction</th>
                                <th>Statut</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="uppercase">
                            <tr th:each="demande : ${demandes}">
                                <td><span th:text="${demande.reference}"></span></td>
                                <td><span th:text="${demande.utilisateur.nom}+' '+ ${demande.utilisateur.prenom}"></span></td>
                                <td><span th:text="${demande.dateRendezVous}"></span></td>
                                <td><span th:text="${demande.trancheHoraire.libelleHeureDebut}+' - '+${demande.trancheHoraire.libelleHeureFin}"></span></td>
                                <td><span th:text="${demande.direction.libelleCourtDirection}"></span></td>
                                <td th:classappend="${demande.statut}"><span th:text="${demande.statut}"></span></td>
                                <td class="g-1">
                                	<a data-toggle="tooltip" title="Modifier" class="btn btn-primary" th:href="@{'/admin/infosDemande/'+${demande.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>                                                             
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#table').DataTable({              
                language: {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },             
            });
        });
    </script>
</body>

</html>