<footer th:framgment="footer">
    <div class="page-footer container">
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="youtube.com" class="link-secondary">Documentation</a></li>
                    <li class="list-inline-item"><a href="https://github.com/abouzei/gestion-rendez-vous" target="_blank" class="link-secondary" rel="noopener">Code source</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        Copyright &copy; 2021 Abouzei
                    </li>
                    <li class="list-inline-item">
                        v1.0
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>