<footer  th:framgment="footer">
       <div class="container">
           <div class="row text-center align-items-center flex-row-reverse">
               <div class="col-lg-auto ms-lg-auto">
                   <ul class="list-inline mb-0">
                       <li class="list-inline-item"><a href="youtube.com" class="link-secondary">Documentation</a></li>
                       <li class="list-inline-item"><a href="https://github.com/tabler/tabler" target="_blank" class="link-secondary" rel="noopener">Code source</a></li>
                   </ul>
               </div>
               <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                   <ul class="list-inline mb-0">
                       <li class="list-inline-item">
                           Copyright &copy; 2021
                           <a href="zeibadjo@gmail.com" class="link-secondary">Abouzei</a>.
                       </li>
                       <li class="list-inline-item">
                           <a href="./changelog.html" class="link-secondary" rel="noopener">v1.0</a>
                       </li>
                   </ul>
               </div>
           </div>
       </div>
   </footer>