<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  th:fragment="layout(contenu, actif, titre)">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title th:text="${titre}"></title>
		
		<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.css}"/>
		<link rel="stylesheet" th:href="@{/css/style.css}"/>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.min.css}"/>
		<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
		<script th:src="@{/js/jquery.js}"></script>
		<script th:src="@{/js/script.js}"></script>
		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/js/bootstrap-datepicker.fr.min.js}"></script>
		<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
		<script th:src="@{/js/jquery.blockUI.js}"></script>
	</head>
	<body>	 	
  		 <div sec:authorize="isAuthenticated()"> 	   	
   		 	<th:block sec:authorize="hasAuthority('USAGER-CLIENT')">
   		 		<header th:replace="fragments/menu-usc :: menu(${actif})"></header>
   		 	</th:block>
   		 	<th:block sec:authorize="hasAuthority('ADMIN')">
   		 		<header th:replace="fragments/menu-admin :: menu(${actif})"></header>
   		 	</th:block>
  		 </div>
	   	<div sec:authorize="isAnonymous()">
	   		<header th:replace="fragments/menu :: menu(${actif})"></header>
	   	</div>
	 	<div class="page-wrapper">
	          <th:block th:include="${contenu}"></th:block> 		 	
	 	</div> 		 	 		 	
      	<footer th:replace="fragments/footer :: footer">
		</footer>
</body>
</html>
