<th:block th:fragment="menu(actif)">
    <meta charset="utf-8">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3" aria-label="Eighth navbar example">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/accueilAdmin}" th:classappend="${actif} == 'accueil' ? 'active':''">
                            Accueil
                        </a>
                    </li>                 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                            Demandes
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:classappend="${actif} == 'calendrierDemande' ? 'active':''" th:href="@{/admin/calendrierDemande}">Calendriers</a>
                            <a class="dropdown-item" th:classappend="${actif} == 'listeDemande' ? 'active':''" th:href="@{/admin/listeDemande}">Listes</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#navbar-extra" role="button" aria-expanded="false" th:href="@{/admin/listeUsagerClient}" th:classappend="${actif} == 'listeUsagerClient' ? 'active':''">
                            Usager-Client
                        </a>
                    </li>
                     <li class="nav-item" sec:authorize="hasAnyAuthority('DIRECTION','CRUC')">
                        <a class="nav-link" href="#navbar-extra" role="button" aria-expanded="false" th:classappend="${actif} == 'MaMessagerie' ? 'active':''">
                            Ma Messagerie
                        </a>
                    </li>
                    <li class="nav-item" th:classappend="${actif} == 'direction' ? 'active':''" sec:authorize="hasAnyAuthority('ADMIN','CRUC')">
                        <a class="nav-link" href="#navbar-extra" role="button" aria-expanded="false">
                            Directions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#navbar-extra" role="button" aria-expanded="false">
                            Evenements
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="./music.html">Nouvel Evenement</a>
                            <a class="dropdown-item" href="">Listes</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                            Notifications
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="./music.html">SMS</a>
                            <a class="dropdown-item" href="./widgets.html">Email</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                            Statistiques
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="./music.html">Etats</a>
                            <a class="dropdown-item" href="./widgets.html">Rapports</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                            Paramètres
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="./music.html">Generale</a>
                            <a class="dropdown-item" href="./widgets.html">Notifications</a>
                            <a class="dropdown-item" href="./music.html">Tables</a>
                            <a class="dropdown-item" th:href="@{/admin/listeUtilisateur}" th:classappend="${actif} == 'listeUtilisateur' ? 'active':''">Utilisateurs et droits
                                d'accès</a>
                        </div>
                    </li>
                </ul>
                 <ul class="navbar-nav">
		            <li class="nav-item">
		                
		            </li>
		            <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="nom-util" sec:authentication="principal.nomComplet"></span><span class="nom-util" sec:authorize="hasAuthority('DIRECTION')" sec:authentication="principal.direction.libelleCourtDirection">--</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/utilisateur/monCompte}" th:classappend="${actif} == 'monCompte' ? 'active':''">Mon compte</a>
                            <a class="dropdown-item" th:href="@{/utilisateur/modifierPasse}" th:classappend="${actif} == 'modifierPasse' ? 'active':''">Mot de passe</a>
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" th:href="@{/logout}">Se déconnecter</a>
                        </div>
                    </li>
       			 </ul>
            </div>
        </div>
    </nav>
</th:block>