<th:block th:fragment="menu(actif)">
    <meta charset="utf-8">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5" aria-label="Eighth navbar example">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/usc/monEspace}" th:classappend="${actif} == 'monEspace' ? 'active':''">
		              Accueil
		            </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/usc/nouvelleDemande}" role="button" th:classappend="${actif} == 'nouvelleDemande' ? 'active':''">
              Nouvelle demande
            </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/usc/mesDemandes}" role="button" th:classappend="${actif} == 'mesDemandes' ? 'active':''">
              Mes demandes
            </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/usc/maMessagerie}" role="button" th:classappend="${actif} == 'maMessagerie' ? 'active':''">
              Ma messagerie
            </a>
                    </li>
                </ul>
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="nom-util" sec:authentication="principal.nomComplet"></span>
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a th:href="@{/utilisateur/monCompte}" class="dropdown-item" th:classappend="${actif} == 'monCompte' ? 'active':''">Mon compte</a></li>
                        <li><a th:href="@{/utilisateur/modifierPasse}" class="dropdown-item" th:classappend="${actif} == 'modifierPasse' ? 'active':''">Mot de passe</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a th:href="@{/logout}" class="dropdown-item">Se déconnecter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</th:block>