<th:block th:fragment="menu(actif)">
<div class="navbar-expand-md">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
           		<span class="navbar-toggler-icon"></span>
          	</button>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <div class="navbar navbar-light">
                    <div class="container-xl">
                        <ul class="navbar-nav">
                            <li class="nav-item" th:classappend="${actif} == 'accueil' ? 'active':''">
                                <a class="nav-link" th:href="@{/}">
                                    <span class="nav-link-title">
                                        Accueil
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item" th:classappend="${actif} == 'nouvelleDemande' ? 'active':''">
                                <a class="nav-link" th:href="@{/demande/nouvelleDemande}" role="button">
                                Nouvelle demande
                            	</a>
                            </li>
                              <li class="nav-item" th:classappend="${actif} == 'nouvelleDemandeFonctionnaire' ? 'active':''">
                                <a class="nav-link" th:href="@{/demande/nouvelleDemandeFonctionnaire}" role="button">
                                Nouvelle demande Fonctionnaire
                            	</a>
                            </li>
                             <li class="nav-item" th:classappend="${actif} == 'connexion' ? 'active':''">
                                <a class="nav-link" th:href="@{/login}" role="button">
                                Connexion
                            	</a>
                            </li>
                            <li class="nav-item" th:classappend="${actif} == 'contact' ? 'active':''">
                                <a class="nav-link" th:href="@{/contact}" role="button">
                                Contactez-nous
                            	</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>			
</th:block>