/*!
 * Style Compte Usager-Client
 */
html  {
	font-size: 14px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	background-color: #fff;
	font-family: "Open Sans", sans-serif;
	color: #6c757d !important;
}

h5 , h6 {
	color: #6c757d !important;
}

div, input, select, textarea, span, img, label, table, td, th , p, a,
	button, ul, code, pre, li {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

a, a:focus, a:hover, a:active {
	outline: 0;
}

/*Fix for Firefox*/
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
}

.input {
	transition: border 0.1s ease-in-out, box-shadow 0.1s ease-in-out,
		-webkit-box-shadow 0.1s ease-in-out;
	border: 1px solid #ddd;
	background-color: #fff;
	width: 100%;
	outline: none;
	padding: 0.5em 10px;
	font-size: 14px;
	margin-bottom: 1em;
}

.uppercase {
	text-transform: uppercase;
}

.capital {
	text-transform: capitalize;
}

.form-label.required:after {
	content: "*";
	margin-left: .25rem;
	color: #d63939;
}

/*
*
* ==========================================
* PERSONNALISATION DU CALENDRIER
* ==========================================
*
*/
.datepicker {
	border-radius: 0px;
	padding: 25px;
	box-shadow: none;
	border: 1px solid #e6ecf5;
}

.datepicker table tr th, .datepicker table tr td {
	border-radius: 0px;
	width: 40px;
	height: 35px;
}

.datepicker table tr td {
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

.datepicker table tr td span {
	border-radius: 0px;
}

.datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active,
	.datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active,
	.datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active,
	.datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active,
	.datepicker table tr td span.active.active:hover, .datepicker table tr td span.active:hover.active:hover,
	.datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active,
	.datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active,
	.datepicker table tr td.active:active:hover, .datepicker table tr td.active.highlighted:active:hover,
	.datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active:hover,
	.datepicker table tr td.active:active:focus, .datepicker table tr td.active.highlighted:active:focus,
	.datepicker table tr td.active.active:focus, .datepicker table tr td.active.highlighted.active:focus,
	.datepicker table tr td.active:active.focus, .datepicker table tr td.active.highlighted:active.focus,
	.datepicker table tr td.active.active.focus, .datepicker table tr td.active.highlighted.active.focus
	{
	color: #ffffff;
	background-color: #7774e7;
	border-color: transparent;
}

.datepicker table tr td span:hover, .datepicker table tr td span.focused
	{
	background: #f6f7fb;
}

.datepicker table tr td.day:hover, .datepicker table tr td.focused {
	background: #f6f7fb;
	cursor: pointer;
}

.datepicker .datepicker-switch:hover, .datepicker .prev:hover,
	.datepicker .next:hover, .datepicker tfoot tr th:hover {
	background: #f6f7fb;
	cursor: pointer;
}

.datepicker-inline {
	width: 330px;
}

/*!
 * Style CSS baser sur la valeur STATUS DEMANDE
 */
.nom-util {
	text-transform: uppercase;
	color: green;
	font-style: italic;
	font-weight: 400;
}

td.SOUMIS {
	color: blue;
	font-weight: bold;
}

td.PROGRAMMER {
	color: blue;
	font-weight: bold;
}

td.CONFIRMER {
	color: green;
	font-weight: bold;
}

.fa-check {
	color: green;
}

/*
*  Page Validation Ombre
*/
.shadow-vert {
	box-shadow: 0 0.25rem 0.25rem rgb(80, 240, 120) !important
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
	/* Firefox */
}

.conteneur {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #F8F9FA;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
}

.conteneur-util {
    padding: 20px;
    background: #fff;
}

.titre-photo {
    font-size: 16px;
    margin-top: 10px;
    text-transform: uppercase;
	color: green;
	font-style: italic;
	font-weight: bold;
}



.table {
	border-spacing: 0 15px;
	border-collapse: separate;
}
.table thead tr th,
.table thead tr td,
.table tbody tr th,
.table tbody tr td {
	vertical-align: middle;
	border: none;
	font-size: 12px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
.table thead tr th:nth-last-child(1),
.table thead tr td:nth-last-child(1),
.table tbody tr th:nth-last-child(1),
.table tbody tr td:nth-last-child(1) {
	text-align: center;
}
.table tbody tr {
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.table tbody tr td {
	background: #fff;
}
.table tbody tr td:nth-child(1) {
	border-radius: 5px 0 0 5px;
}
.table tbody tr td:nth-last-child(1) {
	border-radius: 0 5px 5px 0;
}


