<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'connexion','Connectez-vous')}">

<meta charset="utf-8">

<body>
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                    <div class="card shadow-lg">
                        <div class="card-body p-5">
                            <h1 class="fs-4 card-title fw-bold mb-4 text-center">Connexion</h1>
                            <form method="POST" class="needs-validation" autocomplete="off">
                                <div class="alert alert-danger" th:if="${param.error}" role="alert">
                                    <span class="alert-title">Adresse email ou mot de passe incorrect</span>
                                </div>
                                <div class="alert alert-success" th:if="${param.logout}" role="alert">
                                    <span class="alert-title">Vous avez été deconnecté avec succès</span>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="email">Adresse email</label>
                                    <input id="email" type="email" class="form-control" name="username" value="" required autofocus>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="password">Mot de passe</label>
                                    <a th:href="@{/utilisateur/passeOublier}" class="float-end">
										Mot de passe oublié
									</a>
                                    <input id="password" type="password" class="form-control" name="password" required>
                                </div>

                                <div class="d-flex align-items-center">
                                    <div class="form-check">
                                        <input type="checkbox" name="remember" id="remember" class="form-check-input">
                                        <label for="remember" class="form-check-label">Restez connecter</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary ms-auto">
										Connectez-vous
									</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer py-3 border-0">
                            <div class="text-center">
                                Un soucis <a th:href="@{/contact}" class="text-dark">Contactez-nous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>