<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'succes','Succes Message')}">
<meta charset="utf-8">

<body >
 <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                    <div class="card shadow-vert">
                        <div class="card-body p-5 text-center">
                            <h3>Votre demande de rendez-vous a été soumise avec succès</h3>
                            <div class="text-center">
                                <em class="text-center"><i class="fa fa-check fa-5x"></i></em>
                                <h3>Les informations de votre demande ont été transmises par EMAIL et SMS.</h3>
                            </div>
                        </div>
                        <div class="card-footer py-3 border-0 text-center">
                            <a th:href="@{/login}" class="btn btn-primary ms-auto">Connectez-vous</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>