<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'succes','Succes Message')}">
<meta charset="utf-8">

<body class="antialiased border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
        <div class="container-tight py-4">
            <form class="card card-md" action="." method="post" autocomplete="off">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Contactez nous</h2>
                    <p class="text-center">Merci de nous avoir contacter</p>
                </div>
                <div class="hr-text"></div>
            </form>
        </div>
    </div>
</body>

</html>