<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'modifierPasse','Modifier mon mot de passe')}">
<meta charset="utf-8">

<body>
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                    <div class="card shadow-lg">
                        <div class="card-body p-5">
                            <h1 class="fs-4 card-title fw-bold mb-4 text-center">Réinitialiser mot de passe</h1>
                            <form th:action="@{/utilisateur/modifierPasse}" method="post" autocomplete="off">
                                <div class="mb-3">
                                    <label class="mb-2 text-muted" for="password">Nouveau mot de passe</label>
                                    <input type="password" id="password" name="password" class="form-control" required>
                                </div>

                                <div class="mb-3">
                                    <label class="mb-2 text-muted" for="password-confirm">Confirmer nouveau mot de
										passe</label>
                                    <input type="password" id="re-password" class="form-control" required>
                                </div>
                                <div class="d-flex align-items-center">
                                    <button type="submit" id="submit-pass" class="btn btn-primary">Modifier</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function() {
            $('#submit-pass').prop('disabled', true);
        });
        $(() => {
            $('#password, #re-password').on('keyup', function() {
                if ($('#password').val() == "" && $('#re-password').val() == "") {
                    $('#submit-pass').prop('disabled', true);
                    $('#message').hide();
                } else if ($('#password').val() == $('#re-password').val()) {
                    $('#submit-pass').prop('disabled', false);
                    $('#message').show().html('Mot de passe identiques').css('color', 'green');
                } else {
                    $('#submit-pass').prop('disabled', true);
                    $('#message').show().html('Mot de passe différents').css('color', 'red');
                }
            });
        });
    </script>
</body>

</html>