<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'monCompte','Informations personnelles')}">
<meta charset="utf-8">

<body>
	<div class="container shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 50px;">
		<div class="alert alert-danger" role="alert" th:if="${erreurs != null && !erreurs.isEmpty}">
			<ul>
				<li th:each="erreur :${erreurs}" th:text="${erreur}"></li>
			</ul>
		</div>
		<h5 class="pb-2 border-bottom mb-2">Informations personnelles</h5>
		<div class="container">
			<div class="row g-5">
				<div class="col-md-12 col-lg-12">
					<form id="form1" th:action="@{/utilisateur/modifierMonCompte}" method="post"
						th:object="${utilisateur}">
						<input type="hidden" th:field="*{id}">
						<div class="row g-2">
							<div class="col-sm-6">
								<label for="cni" class="form-label">Numéro CNI</label>
								<input type="text" class="form-control uppercase" id="numcni"
									th:field="*{numPieceIdentite}" required>
							</div>
							<div class="col-sm-6">
								<label for="dateCni" class="form-label">Date validité CNI</label>
								<input type="text" placeholder="Choisir une date" class="form-control" id="dateCni"
									th:field="*{dateEtablissemenPieceIdentite}" autocomplete="off" required>
							</div>
							<div class="col-sm-6">
								<label for="firstName" class="form-label">Nom</label>
								<input type="text" class="form-control uppercase" id="nom" th:field="*{nom}" required>
							</div>
							<div class="col-sm-6">
								<label for="firstName" class="form-label">Prénom</label>
								<input type="text" class="form-control uppercase" id="prenom" th:field="*{prenom}">
							</div>
							<div class="col-sm-6">
								<label for="firstName" class="form-label">Genre</label>
								<select class="form-select uppercase" id="genre" th:field="*{genre}" required>
									<option value="">Selectionner le genre...</option>
									<option value="Homme" th:selected="(*{genre}=='Homme')">Homme</option>
									<option value="Femme" th:selected="(*{genre}=='Femme')">Femme</option>
								</select>
							</div>
							<div class="col-sm-6">
								<label for="firstName" class="form-label">Tranche d'âge</label>
								<select class="form-select uppercase" id="tranche" th:field="*{trancheAge}">
									<option value="">Selectionner la tranche d'age...</option>
									<option th:each="tranche : ${T(ci.mfpma.dq.entites.TrancheAge).values()}"
										th:value="${tranche}" th:text="${tranche.getTranche()}">
									</option>
								</select>
							</div>
							<div class="col-sm-6">
								<label for="profession" class="form-label">Profession</label>
								<select class="form-select uppercase" id="profession" th:field=*{profession.id}
									required>
									<option value=''>Selectionner la profession...</option>
									<option th:each="profession : ${professions}" th:value="${profession.id}"
										th:text="${profession.libelleProfession}"></option>
								</select>
							</div>
							<div class="col-sm-6">
								<label for="employeur" class="form-label">Employeur</label>
								<input type="text" class="form-control uppercase" id="employeur"
									th:field="*{employeur}">
							</div>
							<div class="col-sm-6">
								<label for="ville" class="form-label">Ville</label>
								<select class="form-select uppercase" id="ville" th:field=*{ville.id}>
									<option value=''>Selectionner la ville...</option>
									<option th:each="ville : ${villes}" th:value="${ville.id}"
										th:text="${ville.libelleVille}"></option>
								</select>
							</div>
							<div class="col-sm-6">
							</div>
						</div>
						<hr style="height:2px; width:100%; border-width:0; color:red; background-color:red">
						<div class="row g-2">
							<div class="col-sm-6">
								<label for="cni" class="form-label">Numéro téléphone</label>
								<input type="number" class="form-control" id="cellulaire" th:field="*{telephone}"
									placeholder="saisir seulement les 10 chiffres" maxlength="10" required>
							</div>
							<div class="col-sm-6">
								<label for="email" class="form-label">Email</label>
								<input type="email" class="form-control" id="email" th:field="*{email}">
							</div>
						</div>
						<hr style="height:2px; width:100%; border-width:0; color:red; background-color:red">
						<div class="form-footer">
							<input id="btnActiver" type="button" class="btn btn-primary" value="Activer" />
							<input id="btnModifier" type="submit" class="btn btn-success" value="Modifier" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		$(document).ready(function () {
			$("#form1 :input").prop("disabled", true);
			$("#btnActiver").attr('disabled', false);
			$("#btnModifier").hide();
		});
		$("#btnActiver").click(function () {
			$("#form1 :input").prop("disabled", false);
			$("#btnActiver").hide();
			$("#btnModifier").show();
		});
	</script>
</body>

</html>