<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'passeOublier','Mot de passe oublié')}">
<meta charset="utf-8">

  <body class="antialiased border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
      <div class="container-tight py-4">
        <form class="card card-md" action="." method="get">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Mot de passe oublié</h2>
            <p class="text-muted mb-4">Entrez votre adresse e-mail et un lien de réinitilisation votre mot de passe  vous sera envoyé par e-mail.</p>
             <div class="alert alert-danger" th:if="${erreur != null}" role="alert">
			 <div class="text-center">
			      <h3 class="alert-title"><span th:text="${erreur}"></span></h3>
			  </div>
			</div>
			<div class="alert alert-success" th:if="${message != null}" role="alert">
			  <div class="text-center">
			      <h3 class="alert-title"><span th:text=""></span></h3>
			  </div>
			</div>
            <div class="mb-3">
              <label class="form-label">Adresse Email</label>
              <input type="email" class="form-control" name="email" placeholder="Entrez votre adresse email">
            </div>
            <div class="form-footer">
              <a href="#" class="btn btn-primary w-100">                
                Envoyer
              </a>
            </div>
          </div>
        </form>
        <div class="text-center text-muted mt-3">
          <a th:href="@{/login}">Retour</a> à l'écran de connexion.
        </div>
      </div>
    </div>
  </body>
</html>