<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'succesDemande','Demande soumise avec succès')}">
<meta charset="utf-8">


<body>
    <section class="h-100">
          <div class="container h-100">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                    <div class="card shadow-vert mt-3">
                        <div class="card-body p-3 text-center">
                            <h6>Votre mot de passe a été modifier avec succès</h6>
                            <div class="text-center">
                                <em class="text-center"><i class="fa fa-check fa-2x"></i></em>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>