<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'nouvelleDemande','Nouvelle demande de rendez-vous')}">
<meta charset="utf-8">

<body>
    <div class="container shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 50px;">
        <div class="alert alert-danger" role="alert" th:if="${erreurs != null && !erreurs.isEmpty}">
            <ul>
                <li th:each="erreur :${erreurs}" th:text="${erreur}"></li>
            </ul>
        </div>
        <h5 class="pb-2 border-bottom mb-3">Soumettre une demande de rendez-vous</h5>
        <div class="container">
            <div class="row g-5">
                <div class="col-md-12 col-lg-12">
                    <form th:action="@{/demande/soumettreDemande}" method="post" th:object="${demande}">
                        <div class="row g-2">
                            <div class="col-sm-6">
                                <label for="cni" class="form-label required">Numéro CNI</label>
                                <input type="text" class="form-control uppercase" id="numcni" th:field="*{utilisateur.numPieceIdentite}" required>
                            </div>
                            <div class="col-sm-6">
                                <label for="dateCni" class="form-label required">Date validité CNI</label>
                                <input type="text" placeholder="Choisir une date" class="form-control" id="dateCni" th:field="*{utilisateur.dateEtablissemenPieceIdentite}" autocomplete="off" required>
                            </div>
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label required">Nom</label>
                                <input type="text" class="form-control capital" id="nom" th:field="*{utilisateur.nom}" required minlength="2">
                            </div>
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label required">Prénom</label>
                                <input type="text" class="form-control capital" id="prenom" th:field="*{utilisateur.prenom}" required minlength="2">
                            </div>
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label required">Genre</label>
                                <select class="form-select" id="genre" th:field="*{utilisateur.genre}" required>
									<option value="">Selectionner le genre...</option>
									<option value="Homme" th:selected="(*{utilisateur.genre}=='Homme')">Homme</option>
									<option value="Femme" th:selected="(*{utilisateur.genre}=='Femme')">Femme</option>
								</select>
                            </div>
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label required">Tranche d'âge</label>
                                <select class="form-select" id="tranche" th:field="*{utilisateur.trancheAge}" required>
									<option value="">Selectionner la tranche d'age...</option>
									<option th:each="tranche : ${T(ci.mfpma.dq.entites.TrancheAge).values()}"
										th:value="${tranche}" th:text="${tranche.getTranche()}">
									</option>
								</select>
                            </div>
                            <div class="col-sm-6">
                                <label for="profession" class="form-label required">Profession</label>
                                <select class="form-select" id="profession" th:field=*{utilisateur.profession.id} required>
									<option value=''>Selectionner la profession...</option>
									<option th:each="profession : ${professions}" th:value="${profession.id}"
										th:text="${profession.libelleProfession}"></option>
								</select>
                            </div>
                            <div class="col-sm-6">
                                <label for="employeur" class="form-label">Employeur</label>
                                <input type="text" class="form-control" id="employeur" th:field="*{utilisateur.employeur}">
                            </div>
                            <div class="col-sm-6">
                                <label for="ville" class="form-label required">Ville</label>
                                <select class="form-select" id="villes" th:field=*{utilisateur.ville.id} required>
									<option value=''>Selectionner la ville...</option>
									<option th:each="ville : ${villes}" th:value="${ville.id}"
										th:text="${ville.libelleVille}"></option>
								</select>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                        <hr style="height:2px; width:100%; border-width:0; color:red; background-color:red">
                        <div class="row g-2">
                            <div class="col-sm-6">
                                <label for="cni" class="form-label required">Téléphone</label>
                                <input type="number" class="form-control" id="telephone" th:field="*{utilisateur.telephone}" placeholder="saisir seulement les 10 chiffres" required oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    maxlength="10">
                            </div>
                            <div class="col-sm-6">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" th:field="*{utilisateur.email}">
                            </div>
                        </div>
                        <hr style="height:2px; width:100%; border-width:0; color:red; background-color:red">
                        <div class="row g-2">
                            <div class="col-sm-6">
                                <label for="cni" class="form-label required">Direction</label>
                                <select id="directions" class="form-control" th:field="*{direction.id}" required>
									<option value=''>Selectionner la direction ...</option>
									<option th:each="ob:${directions}" th:value="${ob[0]}" th:text="${ob[1]}">
									</option>
								</select>
                            </div>
                            <div class="col-sm-3">
                                <label for="dateRdv" class="form-label required">Date rendez-vous</label>
                                <input type="text" placeholder="Choisir une date" class="form-control" id="dateRdv" th:field="*{dateRendezVous}" autocomplete="off" required>
                            </div>
                            <div class="col-sm-3">
                                <label for="dateCni" class="form-label required">Tranche horaire</label>
                                <select id="tranches" class="form-control" th:field="*{trancheHoraire.id}" required>
									<option value=''>Selectionner la tranche ..</option>
								</select>
                            </div>
                            <div class="col-sm-12">
                                <label for="dateCni" class="form-label">Motif</label>
                                <textarea class="form-control" data-bs-toggle="autosize" id="motif" th:field="*{motif}"></textarea>
                            </div>
                        </div>
                        <hr style="height:2px; width:100%; border-width:0; color:red; background-color:red">
                        <div class="form-footer text-end">
                            <button type="reset" class="btn btn-warning">Annuler</button>
                            <button type="submit" class="btn btn-primary">Soumettre</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('form').submit(function() {
                $.blockUI({
                    message: 'Patientez ....',
                    css: {
                        border: 'none',
                        padding: '15px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }
                });
                setTimeout($.unblockUI, 5000);
            });
        });
        $("#dateRdv").on("change", function() {
            var date = $(this).val();
            var directionId = $("#directions").val();
            var s = '<option value="">Selectionner la tranche ...</option>';
            if (directionId > 0) {
                $.ajax({
                    url: 'listeTranche',
                    data: {
                        "directionId": directionId,
                        "date": date
                    },
                    success: function(result) {
                        var result = JSON.parse(result);
                        for (var i = 0; i < result.length; i++) {
                            s += '<option value="' + result[i][0] + '">' + result[i][1] + '  -  ' + result[i][2] + '</option>';
                        }
                        $('#tranches').html(s);
                    }
                });
            }
        });
    </script>
</body>